// Source mixin
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.custom-container {
  @include make-container(sm);
  text-align: right;
}

.logo-box, .mb-3, .search {
    text-align:center;
}
.search > .form-control {
  text-align: center;
  border-radius: 50px;
  border: 2px solid #73AD21;
  padding: 1000px;
  width: 1000px;
  height: 40px;
}
